* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}
header {
  height: 50px;
}

footer {
  background-color: rgb(68, 64, 64);

  height: 75px;
}

.main {
  height: calc(100vh - 125px);
}

.content {
}

.container {
  max-width: 1700px;

  background-color: rgb(255, 0, 0);
  margin: 0 auto;
  height: 500px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col14 {
  width: calc(100% / 7);
  height: 100px;
  background-color: rgb(29, 177, 90);
  border: 1px solid black;
}

img {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.footer-icons {
  background-color: blue;
  width: 200px;
  height: 75px;
}
